<div class="main span9">

    <!-- .................................... $PRICING .................................... -->
    <section class="section-content section-pricing" id="section-pricing">
        <h2 class="section-title">
            Pricing
            <small>Price of solar</small>
        </h2>
        <br>
        <div class="row">
            <div class="span3">
                <div class="box pricing-box">
                    <h3 class="box-title">Small</h3>
                    <div class="box-content">
                        <h1 class="lead">
                            7500000
                            <small>Rp/rupiah</small>
                        </h1>
                        <ul class="muted icons-ul">
                            <li><i class="icon-li icon-ok"></i>Minimum 1500 ton</li>
                            <li><i class="icon-li icon-ok"></i>Termasuk Ongkir</li>
                            <li><i class="icon-li icon-ok"></i>Cepat</li>
                        </ul>
                        <a class="btn btn-primary btn-small" href="feature-pricing.php.html#">
                            <i class="icon-shopping-cart"></i>
                            Order now
                        </a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="box pricing-box box-best">
                    <h3 class="box-title">Medium</h3>
                    <div class="box-content">
                        <h1 class="lead">
                            300000000
                            <small>Rp/3days</small>
                        </h1>
                        <ul class="muted icons-ul">
                            <li><i class="icon-li icon-ok"></i>5000 ton</li>
                            <li><i class="icon-li icon-ok"></i>Termasuk Ongkir</li>
                            <li><i class="icon-li icon-ok"></i>Termasuk Ongkir</li>
                            <li><i class="icon-li icon-ok"></i>Cepat</li>
                        </ul>
                        <a class="btn btn-primary btn-small" href="feature-pricing.php.html#">
                            <i class="icon-shopping-cart"></i>
                            Order now
                        </a>
                    </div>
                    <div class="ribbon">Best selling</div>
                </div>
            </div>
            <div class="span3">
                <div class="box pricing-box">
                    <h3 class="box-title">Large</h3>
                    <div class="box-content">
                        <h1 class="lead">
                            99,99
                            <small>€/month</small>
                        </h1>
                        <ul class="muted icons-ul">
                            <li><i class="icon-li icon-ok"></i>Feature 1</li>
                            <li><i class="icon-li icon-ok"></i>Feature 2</li>
                            <li><i class="icon-li icon-ok"></i>Feature 3</li>
                        </ul>
                        <a class="btn btn-primary btn-small" href="feature-pricing.php.html#">
                            <i class="icon-shopping-cart"></i>
                            Order now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- .................................... $TABLE .................................... -->
    <section class="section-content section-table" id="section-table">
        <h2 class="section-title">Table</h2>
        <div class="row">
            <div class="span9">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


            </div><!-- /main span9 -->