<div class="main span9">

    <!-- .................................... $FITVIDS .................................... -->
    <section class="section-content section-fitvids" id="section-fitvids">
        <div class="row">
            <div class="span3">
                <h2 class="section-title">
                    FitVids
                    <small>A lightweight, easy-to-use jQuery plugin for fluid width video embeds.</small>
                </h2>
                <p>Works with</p>
                <ul class="icons-ul">
                    <li><i class="icon-li icon-ok"></i>YouTube</li>
                    <li><i class="icon-li icon-ok"></i>Vimeo</li>
                    <li><i class="icon-li icon-ok"></i>Blip.tv</li>
                    <li><i class="icon-li icon-ok"></i>Viddler</li>
                    <li><i class="icon-li icon-ok"></i>Kickstarter</li>
                </ul>
            </div>
            <div class="span6">
                <div class="fitvids">
                    <iframe height="315" src="http://www.youtube.com/embed/KVu3gS7iJu4?rel=0" width="560"></iframe>
                </div>
                <br>
                 <div class="fitvids">
                    <iframe height="281" src="http://player.vimeo.com/video/24492485?byline=0&amp;portrait=0&amp;color=ffffff" width="500"></iframe>
                </div>
           </div>
        </div>
    </section>
    <!-- .................................... $FlexSlider .................................... -->
    <section class="section-content section-flexslider" id="section-flexslider">
        <div class="row">
            <div class="span3">
                <h2 class="section-title">
                    FitVids & FlexSlider
                    <small>How to make a video slider with FitVids and FlexSlider</small>
                </h2>
            </div>
            <div class="span6">
                <div class="flexslider-wrap">
                    <div class="flexslider">
                        <ul class="slides">
                            <li class="fitvids">
                                <iframe height="315" src="http://www.youtube.com/embed/KVu3gS7iJu4?rel=0" width="560"></iframe>
                            </li>
                            <li class="fitvids">
                                <iframe height="281" src="http://player.vimeo.com/video/24492485?byline=0&amp;portrait=0&amp;color=ffffff" width="500"></iframe>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


            </div><!-- /main span9 -->